.wrapper {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.item {
  text-align: center;
  color: var(--black);
  padding: 12px;
  min-width: 53px;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--black);
  padding: 12px;
  min-width: 53px;
  border-radius: var(--border-radius);
  background-color: #ebf1fa;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--lightBlue);
  color: var(--white-full);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.active {
  background-color: var(--blue);
  color: var(--white-full);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

@media (max-width: 400px) {
  .wrapper {
    gap: 4px;
  }

  .btn {
    padding: 10px 8px;
    font-size: 12px;
    line-height: 16px;
    min-width: 41px;
  }

  .item {
    padding: 10px 8px;
    min-width: 41px;
  }
}