.wrapper {
  display: grid;
  gap: 32px;
  padding: 32px 0 32px 0;
  margin: 0;
}

.wrapper.isEmpty {
  height: calc(100vh - 72px - 84px);
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 528px;
  padding: 20px;
  color: var(--darkGrey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.skeleton-list {
  padding: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.skeleton-item {
  display: grid;
  background-color: var(--white-full);
  padding: 32px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.skeleton-title {
  width: 256px;
  height: 32px;
  background-color: var(--gray);
  border-radius: var(--border-radius);
}

.skeleton-header,
.skeleton-body {
  display: flex;
  flex-direction: column;
}

.skeleton-header {
  row-gap: 4px;
}

.skeleton-body {
  row-gap: 8px;
}

.skeleton-header::before,
.skeleton-header::after,
.skeleton-body::before,
.skeleton-body::after,
.skeleton-footer::before,
.skeleton-footer::after {
  content: "";
  border-radius: var(--border-radius);
  background-color: var(--gray);
}

.skeleton-header::before {
  width: 225px;
  height: 24px;
}

.skeleton-header::after {
  width: 131px;
  height: 24px;
}

.skeleton-body::before {
  width: 96px;
  height: 16px;
}

.skeleton-body::after {
  width: 55px;
  height: 16px;
}

.skeleton-footer {
  display: flex;
  column-gap: 8px;
}

.skeleton-footer::before {
  width: 16px;
  height: 16px;
}

.skeleton-footer::after {
  width: 148px;
  height: 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    padding: 16px 0;
  }

  .skeleton {
    row-gap: 24px;
  }

  .skeleton-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .skeleton-item {
    padding: 24px;
    gap: 12px;
  }

  .skeleton-body {
    row-gap: 6px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0px 0 16px 0;
  }

  .skeleton {
    row-gap: 16px;
  }

  .skeleton-title {
    width: 172px;
    height: 28px;
  }

  .skeleton-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .skeleton-item {
    padding: 16px;
    gap: 10px
  }

  .skeleton-body {
    row-gap: 4px;
  }

  .skeleton-header::before {
    height: 20px;
  }

  .skeleton-header::after {
    height: 20px;
  }

  .emptyState {
    font-size: 14px;
    line-height: 20px;
  }

}