.bg {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 72px 40px 0 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto 0;
}

.wrapperShow {
  visibility: visible;
}

.wrapperHidden {
  visibility: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 72px 20px 0 20px;
  }
}

@media (max-width: 440px) {
  .menu {
    gap: 24px;
  }

  .wrapper {
    padding: 56px 20px 0 20px;
  }
}