.wrapper {
  padding-top: 48px;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 16px;
}

.resetWrapper {
  width: 100%;
  position: absolute;
  text-align: end;
}

.reset {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.filterItem {
  height: 48px;
  box-shadow: var(--shadow);
  transition: box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.filterItemBorder {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input {
  flex-direction: row;
}

.filterItem:hover {
  box-shadow: var(--hover-shadow);
}


@media (max-width: 1023px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper {
    padding-top: 32px;
  }
}

@media (max-width: 768px) {
  .list {
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-top: 7px;
  }

  .filterItem {
    padding: 16px 24px;
  }

  .list {
    grid-template-columns: 1.97fr 0.03fr;
    gap: 24px;
    margin-bottom: 12px;
  }

  .hasActiveItem {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .wrapper {
    padding-top: 24px;
  }
}

@media (max-width: 375px) {
  .list {
    grid-template-columns: 1.9fr 0.1fr;
    gap: 20px;
    margin-bottom: 8px;
  }
}