.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-full);
  border-radius: 16px;
  padding: 0 24px;
  gap: 8px;
  position: relative;
}

.wrapper[data-level="low"] {
  padding-right: 21px;
}

.wrapper[data-level="low"] .title {
  flex: 0 0 48px;
  height: 48px;
}

.wrapper:not(:has(input)) {
  cursor: pointer;
}

.wrapper[data-level="low"]:hover .chevron path {
  fill: var(--black);
}

.wrapper[data-level="low"]:hover .title {
  color: var(--black);
}

.wrapper:not([data-level="low"]):hover {
  background-color: #ebf1fa;
}

.wrapper[data-level="low"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    var(--white-full),
    #efefef,
    var(--white-full)
  );
}

.wrapper:has(.active) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 48px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--darkGrey);
  flex: 1;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
}

.title[data-active="true"],
.input[data-active="true"] {
  color: var(--black);
}

input[type="text" i] {
  padding-block: 0;
  padding-inline: 0;
}

.chevron {
  transform: rotate(0);
  transition: transform 0.3s;
  flex-shrink: 0;
}

.active {
  transform: rotate(90deg);
}

.active path {
  fill: var(--black);
}

.icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.iconClear:hover > path {
  fill: var(--blue);
}

.countBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 24px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  color: var(--black);
  background: var(--blueBadge);
}
