.wrapper {
  position: fixed;
  left: 0;
  top: 72px;
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  z-index: 1;
  background: var(--white-cream);
}

@media (max-width: 768px) {
  .wrapper {
    top: 56px;
  }
}