.wrapper {
  position: fixed;
  left: 0;
  top: 72px;
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background: var(--white-cream);
}

@media (max-width: 768px) {
  .wrapper {
    top: 56px;
    height: calc(100vh - 56px);
  }
}