.container {
    padding: 32px 0;
}

.backBtn {
    display: flex;
    align-items: center;
    gap: 16px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 32px;
}

.vacancy {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.vacancy__desc {
    grid-row: 0/2;
    background-color: var(--white-full);
    border-radius: 16px;
    padding: 32px;
    box-shadow: var(--shadow);
}

.vacacy__title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.vacancy__title2 {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.needs {
    margin-bottom: 32px;
}

.needs__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.needs__list {
    display: flex;
    gap: 32px;
}

.needs__list li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.vacancy__btn {
    padding: 16px 24px;
    margin-bottom: 32px;
    border-radius: 16px;
    background: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s;
}

.slashEye path:first-of-type {
    stroke: var(--blue);
}

.slashEye path:last-of-type {
    fill: var(--blue);
}

.description {
    font-size: 16px;
    line-height: 24px;
}

.description p{
    margin-bottom: 32px;
}

.description ul{
    margin-bottom: 32px;
}

.description li {
    margin-bottom: 5px;
}

/* .description li::before {
    content: '\2014';
    margin-right: 5px;
} */


.vacancy__skillsWrapper {
    margin-bottom: 32px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills li {
    padding: 4px 8px;
    background-color: #CFDDF2;
    border-radius: 16px;
}

.vacancy__footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--darkGrey);
}

.vacancy__owner {
    position: sticky;
    top: 100px;
    padding: 32px;
    background-color: var(--white-full);
    border-radius: 16px;
    height: min-content;
    box-shadow: var(--shadow);
}

.vacancy__owner img {
    max-width: 100px;
    height: auto;
    border-radius: 16px;
}

.vacancies__list {
    padding: 0;
    margin-bottom: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
}

.vacancies__btn {
    padding: 16px 24px;
    margin-bottom: 32px;
    border-radius: 16px;
    background: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white-full);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}