.item {
  flex-direction: row;
}

@media (max-width: 767px) {
  .item  div {
    gap: 12px;
  }

  .child div {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .modal {
    max-width: 100%;
    min-width: 230px;
  }
}
